<p>
  <strong>Reviewer:</strong>
  <%= review.reviewer %>
</p>

<p>
  <strong>Review:</strong>
  <%= review.body %>
</p>

<p>
  <%= link_to 'Delete Review', [review.song, review],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>
