<h1>Welcome to MMusic!</h1>

<p><%= link_to "Check out our artists", 'artists#index', class: "btn btn-lg btn-warning" %></p>

<p><%= link_to "Check out our songs", 'songs#index', class: "btn btn-lg btn-warning" %></p>
